<h1>Editing message</h1>

<%= error_messages_for :message %>

<% form_for(@message) do |f| %>
  <p>
    <b>Text</b><br />
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>
