<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Дозорный чат</title>
<style type="text/css">
body{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
input{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
textarea{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
#bar{
margin-left: 20px;
border-left: 1px dashed #666666;
padding-left: 5px;

}
#bar .count_chat_users{
cursor: pointer;

text-decoration: underline;
}
#form{
padding-bottom: 5px;
margin-bottom: 15px;
border-bottom: 1px solid #666666;
}
#messages .title{
	font-size-adjust:inherit;
	color: #666666;
	font-weight: bold;
	cursor: pointer;
}

#messages .title:hover{
	text-decoration: underline;	
}
#bar #crew_title{
	font-weight: bold;
	cursor: pointer;
}
a{
color: #990000;
}
a:hover{
color:#CCCCCC
color: #FF6600;
}
a:visited{
color: #990000;
}
.info{
font-size: 10px;
color: #666666;
}
.error{
	font-weight: bold;
	color: red;

}
.notice{
	color: green;
	font-size:200%;
}
.green{
	color: green;
}
</style>
	<%=javascript_include_tag 'prototype',:defaults,  :juggernaut %>
<script type="text/javascript" src="/javascripts/jquery.hotkeys.js"></script>
<script type="text/javascript">

	var $j = jQuery.noConflict();

	var privates = {};
	var privates_id = {};
  $j(document).ready(function(){
	
  	$j("#add_crew").click(function(){
		$j("#add_crew_div").slideToggle("slow");
	});
	$j("#change_name").click(function(){
		$j("#change_name_div").slideToggle("slow");
	});
	$j("#change_crew").click(function(){
		$j("#change_crew_div").slideToggle("slow");
	});
	$j("#change_crew_title").click(function(){
		$j("#change_crew_title_div").slideToggle("slow");
	});
	$j.hotkeys.add('Shift+Return', function(){ 
		send_form();	
	});
	$j.hotkeys.add('Ctrl+Shift+A', function(){ 
		$j("#form #message_private").hide();
		$j("#form #message_all").hide();
		$j("#form #privates").val("");
		privates = {};
		privates_id = {};
	
	});
	
	$j("#bar #crew_title").click(function(){
		toggle_private($j(this).html(),$j(this).attr('crew_id'));

	});
	
	$j("#form #message_all").click(function(){
		$j("#form #message_private").hide();
		$j("#form #message_all").hide();
		$j("#form #privates").val("");
		privates = {};
		privates_id = {};
	});
	
	$j('body').click(function(event) {
   		if ($j(event.target)[0].className=="title") {
			toggle_private($j(event.target).attr('crew_title'),$j(event.target).attr('crew_id'));
   		} else if($j(event.target)[0].id=="crew_title"){
			toggle_private($j(event.target).html(),$j(event.target).attr('crew_id'));
		}

 	});


	
	
 });
function send_form(){
	$j.ajax({
		async:true,
		beforeSend:function(xhr) {
			xhr.setRequestHeader('Accept', 'text/javascript')
		}, 
		data:$j.param($j("#form_tag").serializeArray()) + '&authenticity_token=' + encodeURIComponent('<%= escape_javascript form_authenticity_token %>'), 
		dataType:'script', 
		type:'post', 
		url:'/messages'
	}); 
	$j("#form #content").val("");
}

function toggle_private(title, id){
	$j("#form #message_private").show();
	$j("#form #message_all").show();
	if(privates[id]==undefined){
		privates[id]=title;
		privates_id[id]=id;

	} else{
		delete privates[id];
		delete privates_id[id];

	}
	var t=[];
	var i=0;
	for (k in privates_id) {
	 // k contains the key
	  	t[i]=privates_id[k]
		i++;
	}
	$j("#form #privates").val(t.join(','));
	var t=[];
	var i=0;
	for (k in privates) {
	 // k contains the key
	  	t[i]=privates[k]
		i++;
	}
	$j("#form #private_for").val(t.join(', '));
	$j("#form #message_private_list").html(t.join(', '));
}
</script>
<%=juggernaut(:channels => ['team_' + @chat_user.team.id.to_s, 'crew_' + @chat_user.crew.id.to_s], :debug => true) %>
</head>

<body>
<script type="text/javascript" src="/javascripts/wz_tooltip.js"></script>
<table width="100%%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="70%">
    <div id="form">
		<form id="form_tag" onsubmit="send_form(); return false;" method="post" action="/messages">
		<%= hidden_field_tag 'privates', "" %>
		<%= hidden_field_tag 'private_for', "" %>
		<%= text_area_tag 'content',{}, {:style => "width: 80%", :cols => "45", :rows=> "3"} %>

		<%= submit_tag 'Отправить' %>
		</form>
		<a id="message_all" href="#" style="display: none">всем</a><span id="message_private" style="display: none"> <strong>Приватно для:</strong> <span id="message_private_list"></span></span><br />
<span class="info"><strong>Shift + Enter</strong> — отправить сообщение<br />
Сообщение подпишется как &quot;<span id="form_message_caption"><%= @chat_user.crew.title %> [<%= @chat_user.name %>]</span>&quot;</span>
<%# periodically_call_remote(:url => get_caption_chat_user_path(@chat_user.id)) %>
</div>
</td>
    <td rowspan="2" width="30%" valign="top">
    <div id="bar" style="position: fixed; top: 2em; left: auto; right: 30px; height: 100%; overflow: auto;">
<div id="crews_list">
<%= render :partial => 'crews_list' %>
</div>
<%# periodically_call_remote(:url => get_list_crews_path) %>
<br />
<span id="bar_errors" class="error"></span>
<br />
Ваш экипаж...<br />
<% form_remote_tag :url => update_where_crew_path(@chat_user.crew.id) do -%>
где: 
<%= text_field_tag 'where', @chat_user.crew.where %>
<br />
<%= submit_tag 'Обновить' %>
<% end -%><br />
<% form_remote_tag :url => update_where2_crew_path(@chat_user.crew.id) do -%>
куда: 
<%= text_field_tag 'where2', @chat_user.crew.where2 %>
<br />
<%= submit_tag 'Обновить' %>
<% end -%>
<br />
<br />
<a id="change_name" href="#">Сменить имя</a><br />
<div id="change_name_div" style="display:none">
  Имя:<br />
<% form_remote_tag :url => update_name_chat_user_path(@chat_user.id) do -%>
<%= text_field_tag 'name', @chat_user.name %>
<br />
<%= submit_tag 'Сменить' %>

<% end -%>
</div>
<a id="change_crew_title" href="#">Сменить название экипажа</a><br />
<div id="change_crew_title_div" style="display:none">
  Название:<br />
<% form_remote_tag :url => update_title_crew_path(@chat_user.crew.id) do -%>
<%= text_field_tag 'title', @chat_user.crew.title %>
<br />
<%= submit_tag 'Сменить' %>

<% end -%>
</div>

<a id="change_crew" href="#">Сменить экипаж</a><br />
<div id="change_crew_div" style="display:none">
<% form_remote_tag :url => update_crew_chat_user_path(@chat_user.id) do -%>
<div id="change_crew_div_list"><%= render :partial => 'change_crew_div_list' %></div>
<%# periodically_call_remote(:url => get_change_crew_list_crews_path) %>
<br />

<%= submit_tag 'Сменить' %>
<% end -%>
</div>
<a id="add_crew" href="#">Добавить новый экипаж</a>
<div id="add_crew_div" style="display:none">
  Название:<br />
<% form_remote_tag :url => create_crew_chat_user_path(@chat_user.id) do -%>
<%= text_field_tag 'title' %>
<br />
<%= submit_tag 'Добавить и вступить в него' %>
<% end -%>
</div>
<br/><br/>
[<%= link_to "Выйти", {:controller => "chat_users", :action => "destroy"}, :method => :delete, :confirm => "Вы уверены?" %>]
</div>
</td>
  </tr>
  <tr>
    <td valign="top"><div id="messages">
	<%= render :partial => 'messages' %>
	</div>
	<%# periodically_call_remote(:url => get_new_messages_path, :frequency => '5') %>
</td>
  </tr>
</table>
</body>
</html>
